@{
    ViewBag.Title = "Malaysia GST Checker - Developer API";
    ViewBag.PageTag = PageTag.Api;
}

<div class="row">
    <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
        <h1>API for Developers</h1>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Few Examples</div>
            </div>
            <div class="panel-body">
                <ol>
                    <li>Search by GST Number: <a href="~/api/GstNo/001609433088" target="_blank" rel="nofollow">http://gst.amry.my/api/GstNo/001609433088</a></li>
                    <li>Search by Business Registration Number: <a href="~/api/BizRegNo/419060-A" target="_blank" rel="nofollow">http://gst.amry.my/api/BizRegNo/419060-A</a></li>
                    <li>Search by Business Name: <a href="~/api/BizName/POS_M" target="_blank" rel="nofollow">http://gst.amry.my/api/BizName/POS_M</a></li>
                </ol>
            </div>
        </div>

        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="panel-title">Disclaimer</div>
            </div>
            <div class="panel-body">
                <ol>
                    <li>The data is not mine. I simply made an API that will get the data from the official website.</li>
                    <li>I reserve the right to change the API or bring it down at any time without notice.</li>
                    <li>You are free to use this API and I shall not be held responsible on what comes out of the usage of this API.</li>
                </ol>
            </div>
        </div>
    </div>
</div>