<!DOCTYPE html>
<html lang="en" ng-app="gstApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Malaysia GST Checker</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Contents/app.min.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
    <script src="~/Scripts/angular-app.min.js"></script>
</head>
<body ng-controller="GstLookupCtrl">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand">Malaysia GST Checker</div>
            </div>
        </div>
    </nav>

    <div class="container">
        <form ng-submit="executeSearch()">
            <div class="row">
                <div class="form-group col-md-offset-3 col-md-3 col-sm-offset-2 col-sm-4 col-xs-offset-1 col-xs-10">
                    <label>Search Type</label>
                    <div class="radio">
                        <label><input type="radio" name="search-type" value="GstNo" ng-model="searchType" checked="checked" />GST Number</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="search-type" value="BizRegNo" ng-model="searchType" />Business Registration Number</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="search-type" value="BizName" ng-model="searchType" />Business Name</label>
                    </div>
                </div>
                <div class="col-md-offset-0 col-md-3 col-sm-offset-0 col-sm-4 col-xs-offset-1 col-xs-10">
                    <div class="form-group">
                        <label for="search-input">Search For</label>
                        <input type="text" class="form-control" ng-model="searchText" />
                    </div>
                    <button type="submit" class="btn btn-primary">Lookup GST Status</button>
                </div>
            </div>
        </form>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>GST Number</th>
                    <th>Business Name</th>
                    <th>Commence Date</th>
                    <th>GST Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="result in results | orderBy:'BusinessName'">
                    <td ng-bind="result.GstNumber"></td>
                    <td ng-bind-html="result.BusinessName"></td>
                    <td ng-bind="result.CommenceDate"></td>
                    <td ng-bind="result.Status"></td>
                </tr>
                <tr class="no-result">
                    <td colspan="4">No result to show here.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>